*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  text-decoration: none;
}
.App{
  position: relative;
  width: 100%;
  max-width: 60%;
  border: 1px solid #000;
  margin: 0 auto;
}
.black-header{
  padding: 20px;
  background-color: #000;
}
h1{
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.list-item{
  border-bottom: 2px solid #000;
  padding: 20px;
}
.list-item h2{
  font-weight: 600;
  font-size: 20px;
}
.list-item h2 span{
  font-weight: 600;
  font-size: 20px;
}
.list-item p:last-of-type{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
.modal-container{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 20px;
  background-color: #fff;
}
.modal-header{
  display: flex;
  justify-content: flex-end;
}
.modal-body>div{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
}
